@media screen and (min-width: 992px) {
    .airQuality{
        width: 80%;
        margin: auto;
        /* box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3); */
        padding:3vw 2vw;
    }
    .title{
        font-size: 1vw;
        color: blue;
        margin-bottom: 0.5vw;
    }
    .tableTitle{
        font-size: 1.3vw;
        margin-bottom: 2vw;
    }
    .poluClnToggleButtonBox{
        width: 22vw;
        display: flex;
        justify-content: space-between;
        margin-bottom: 4vw;
    }
}
@media screen and (max-width: 991px) {
    .airQuality{
        width: 90%;
        margin: auto;
    }
    .title{
        font-size: 3vw;
        color: blue;
        margin-bottom: 0.5vw;
    }
    .tableTitle{
        font-size: 5vw;
        margin-bottom: 2vw;
    }
    .poluClnToggleButtonBox{
        
        width: 95%;
        /* margin: auto; */
        display: flex;
        justify-content: space-between;
        margin-bottom: 4vw;
        margin-top: 2vw;
    }
}



.cityButtonNotClicked{
    border: 2px solid rgb(34,39,76);
    background-color: transparent;
    color: rgb(64,79,106);
}
.cityButtonNotClicked:hover{
    color:grey;
}